@model MusicViewModel
@{
    ViewData["Title"] = "Leta musik";
}
<h2>@Model.SearchItems.artist - @Model.SearchItems.track</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SearchItems.artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchItems.artist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchItems.track)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchItems.track)
        </dd>
    </dl>
</div>

<form asp-controller="Music" asp-action="Search">
    <div class="form-group">
        <label asp-for="artist"></label>
        <input class="form-control" asp-for="artist" />
        <span asp-validation-for="artist"></span>
    </div>
    <div class="form-group">
        <label asp-for="track"></label>
        <input class="form-control" asp-for="track" />
        <span asp-validation-for="track"></span>
    </div>
    <div class="form-group">
        <label asp-for="genre"></label>
        <input class="form-control" asp-for="genre" />
        <span asp-validation-for="genre"></span>
    </div>
    <input type="submit" value="Sök" />
</form>

<h2>Relaterade</h2>

@if(Model.DataHolder.getArtists().Count == 0)
{
    <text>Hittade inga</text>
}
else
{
    <ul>
    @foreach (var info in Model.DataHolder.getIdNameList())
    {
        <li> <a href="/Music/Index?id=@info.id&artist=@info.name">@info.name</a> </li>
    } 
    </ul>
}